p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .center {
    text-align: center;
    border: 3px solid green;
  }

  .right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }